
th {
    background: gray;
}

table, td, tr, th {
    border: 1px solid;  
    border-collapse: collapse;
}

#tabela-secundaria, #tabela-secundaria td, #tabela-secundaria th {
    border: 3px solid;
    border-color: crimson;
    border-collapse: collapse;
}

.tabela-destacada, .tabela-destacada td, .tabela-destacada th {
    border: 4px solid;
    border-color: darkred;
    border-collapse: collapse;
}